<strong>Olá, {{ organizer }}</strong>
<p>
  Houve uma inscrição em um meetup que você organiza, confira os detalhes abaixo:
</p>
<p>
  <strong>Meetup: </strong> {{ meetup.title }} <br/>
  <strong>Data/hora: </strong> {{ meetup.datetime }}
  <br/><br/>
  <strong>Usuário: </strong> {{ user }}
</p>
